 # Git
.git
.gitignore

# Docker
.docker

# Djnago
media/
media_files/
db.sqlite3

# Pycharm
.idea

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.env.docker/
.venv/
venv/
myenv/